body{background-color: black;width: 100vw;height: 100vh;margin: 0;color: white;}
#image{height: 100%;width: 60%;float: left;display: flex;align-content: center;flex-wrap: wrap;justify-content: center}
#image img{width: 100%;height: fit-content;}
#painel{height: 100%;width: 40%;float: right;display: flex;align-content: center;flex-wrap: wrap;justify-content: center}
#interface{margin: 10%;background-color: rgb(41, 41, 41);width: 80%;border-radius: 10%;box-shadow: #90909075 10px 10px 15px;display: flex;flex-direction: column;flex-wrap: nowrap;align-items: center;}
#interface #cadastro{font-size: max(30px,2vw);font-weight: bold;margin-top: 5%;}
#interface #dados{display: flex;flex-direction: column;margin-top: 8%;}
#interface #dados label{margin-top: 5%;}
#interface #dados label input{width:70%;}
#interface #cadastrar{display: flex;height: 45.92%;flex-direction: column;justify-content: center;align-items: center;align-content: center;flex-wrap: wrap;}
#interface #cadastrar input{font-size: max(15px,1vw);margin-top: 20%;margin-bottom: 30%;}
@media screen{}
